@charset "UTF-8";

@font-face {
    font-family:'Sriracha';
    src: url('../fontes/Sriracha-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Passion One' ;
    src: url('../fontes/PassionOne-Regular.ttf') format('truetype');
}


:root{
    --fonte01:Verdana, 'Gevena', Tahoma, sans-serif;
    --fonte02:'Passion One', 'cursive';
    --fonte03:'Sriracha', sans-serif;   
}
    
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--fonte01);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte02);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    font-family: var(--fonte03);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.6vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(48, 47, 47);
    background-size: cover;
    color: white;    
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418) ; 
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;    
}

section#img02{
    background-image: url('../imagens/background002.jpg');
}
footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px;
}